<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    <description>Spring Security 安全配置</description>

    <bean id="customPreFilter" class="com.pemass.common.api.security.CustomPreFilter"/>

    <sec:http auto-config="true">
        <sec:custom-filter ref="customPreFilter" before="PRE_AUTH_FILTER"/>
    </sec:http>

    <sec:global-method-security pre-post-annotations="enabled"/>

    <bean class="org.springframework.security.access.intercept.aopalliance.MethodSecurityInterceptor">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="accessDecisionManager">
            <bean class="org.springframework.security.access.vote.AffirmativeBased">
                <constructor-arg>
                    <list>
                        <bean class="org.springframework.security.access.vote.RoleVoter"/>
                        <bean class="org.springframework.security.access.prepost.PreInvocationAuthorizationAdviceVoter">
                            <constructor-arg ref="exprPreInvocationAdvice"/>
                        </bean>
                    </list>
                </constructor-arg>
            </bean>
        </property>
        <property name="securityMetadataSource" ref="prePost"/>
    </bean>

    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider ref="preAuthenticationProvider"/>
    </sec:authentication-manager>

    <bean id="exprPreInvocationAdvice" class="org.springframework.security.access.expression.method.ExpressionBasedPreInvocationAdvice"/>

    <bean id="prePost" class="org.springframework.security.access.prepost.PrePostAnnotationSecurityMetadataSource">
        <constructor-arg ref="attributeFactory"/>
    </bean>

    <bean id="attributeFactory" class="org.springframework.security.access.expression.method.ExpressionBasedAnnotationAttributeFactory">
        <constructor-arg ref="handles"/>
    </bean>

    <bean id="handles" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler"/>

</beans>